<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tugboat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container" style="padding:22px;background:white;margin-bottom:22px;">
    <nav class="nav nav-pills nav-justified">
      <a class="nav-link active" href="/">List of containers</a>
      <a class="nav-link" href="/new">New Container</a>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Names</th>
                <th>Image</th>
                <th>Command</th>
                <th>Created</th>
                <th>Ports</th>
                <th>State</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {{ range $key, $container := . }}
              <tr>
                <td>{{ $container.Names }}</td>
                <td>{{ $container.Image }}</td>
                <td>{{ $container.Command }}</td>
                <td>{{ $container.Created }}</td>
                <td>{{ $container.Ports }}</td>
                <td>{{ $container.State }}</td>
                <td>{{ $container.Status }}</td>
              </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
