<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tugboat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container" style="padding:22px;background:white;margin-bottom:22px;">
    <nav class="nav nav-pills nav-justified">
      <a class="nav-link" href="/">List of containers</a>
      <a class="nav-link active" href="/new">New Container</a>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6" >
        <h1>Start a new container</h1>
        <form method="post" action="/new">
          <div class="form-group">
            <label for="environment">Environment</label>
            <select name="environment" id="environment" class="form-control form-control-sm">
              {{ range $image := . }}
                <option value="{{ $image }}">{{ $image }}</option>
              {{ end }}
            </select>
          </div>
          <div class="form-group">
            <label for="command">Entry Command</label>
            <input type="text" class="form-control" name="command" id="command" placeholder="sleep 100">
          </div>
          <div class="form-group">
            <label for="port">Port Mapping</label>
            <input type="text" class="form-control" name="port" id="port" placeholder="host:container">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <input type="hidden" name="runtype" id="runtype" value="automatic">
        </form>
      </div>
      <div class="col-sm-12 col-lg-6">
        <h1>Dockerfile</h1>
        <form method="post" action="/new">
          <div class="form-group">
						<div class="form-group">
							<label for="port">Image name</label>
							<input type="text" class="form-control" name="tag" id="tag" placeholder="user/container:tag">
						</div>
						<div class="form-group">
							<label for="port">Port Mapping</label>
							<input type="text" class="form-control" name="port" id="port" placeholder="host:container">
						</div>
            <div class="form-group">
              <label for="dockfile">Type or paste Dockerfile below</label>
              <textarea class="form-control" id="dockerfile" name="dockerfile" rows="15"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <input type="hidden" name="runtype" id="runtype" value="dockerfile">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
